@import 'tailwindcss';

:root {
  --theme-background: var(--color-zinc-200);
  --theme-foreground: var(--color-zinc-800);
  --theme-accent: var(--color-sky-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background: var(--color-stone-800);
    --theme-foreground: var(--color-stone-300);
    --theme-accent: var(--color-sky-400);
  }
}

body {
  background: var(--theme-background);
  color: var(--theme-foreground);
}
